<div class="banners">
  <div class="inside_banner">
    <header>
      <h2>UX/UI</h2>
      <hr>
      <p class="date">
        some planning and steps I took before I created my rad apps
      </p>
    </header>
  </div>
</div>

portfolio
pin board demo
hair stylist website demo
drillr
ticketstopper
