// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resume_header {
  // margin-bottom: 0;
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h3 {
      margin: 1em 0;
    }
  }
  hr {
    margin: 3em auto;
  }
}

.banners {
  margin-bottom: 0;
  background-color: #F2F4F5;
  padding: .8em 0 .5em 0;
    header {
      text-align: center;
      margin-bottom: 1em;
        span {
          font-size: .9em;
          color: $light;
          margin: 0 0 .6em 0;
          a {
            margin: auto .9em;
            i{
              color: $highlight;
            }
          }
        }
        hr {
          margin: 3em auto;
        }
        h1 {
          text-transform: uppercase;
        }
  }
}

.content_wrapper {
  overflow: hidden;
  margin-top: 0;
  background-image: url(portfolio.png);
    .content {
      margin: 0 6em;
        .tech_skills {
          p {
            strong{
              color: $highlight;
            }
            color: $white;
          }

          margin-left: 2em;
        }
        .work_exp {
          p {
            color: $white;
          }
          ul {
            li {
              color: $white;
              strong{
                color: $highlight;
              }
              ul {
                li {
                  color: $white;
                }
              }
            }
          }
          margin-left: 2em;
        }
    }
}
