

#skrollr-body {
  // padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(pano.png);
  position: relative;
  .navbar-background {
    // background-color: rgb($red, $green, $blue);;
    opacity: .5;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 9999;
    .name {
      font-weight: 700;
      font-size: .8em;
      letter-spacing: 4px;
      text-transform: uppercase;
      border: 2px solid $border;
      padding: 1rem;
      text-decoration: none;
      color: #787878;
      float: left;
      position: fixed;
      z-index: 9999;
      margin: 2.5em 5%;
    }
    nav {
      float: right;
      padding-top: .8rem;
      position: fixed;
      top: 5%;
      left: 75%;
        a {
          color: #dadada;
          text-decoration: none;
          margin: 0 1rem;
          font-size: 1rem;
        }
    }
  }

    .title {
      width: 45%;
      text-transform: uppercase;
      margin: 5em auto;
      border: 2px solid $border;
      padding: 1rem 0;
      color: #dadada;
      text-align: center;
      font-size: 3em;
      text-shadow:  2px 2px 2px #131313;
    }
}




  .col-1 {
    float: left;
    width: 45%;
    padding: 0 5% 0 2.5%;
  }

  .col-2 {
    float: left;
    width: 55%;
    padding: 0 2.5%;
  }
  .col-3 {
    text-align: center;
  }



// SKILL SET BANNER
.banners {
  margin-bottom: 0;
    .inside_banner {
      background-color: #F2F4F5;
      padding: .8em 0 .5em 0;
        header {
          text-align: center;
            .date {
              font-size: .9em;
              color: $light;
              margin: 0 0 .6em 0;
            }
            h2 {
              font-size: 1.1rem;
              text-transform: uppercase;
            }
            hr {
              margin: 1em auto;
            }
      }

  }
}


// SKILL SET
.skill-set {
  padding-top: 5%;
  background-image: url(portfolio.png);
  width: 100%;
  height: 38em;
  h3 {
    color: $white;
    text-align: center;
    margin: 0 0 5% 0;
  }
  .skill {
    color: $white;
    border: 2px solid $highlight;
    height: 30px;
    width: 150px;
    padding: 5px 5px;
    text-align: center;
    margin: 1em 2%;
  }
}


// PORTFOLIOS
.image_link {
  width: 100%;
  margin: 1em auto;
    .box {
      margin: 10px;
    }
    h3 {
     position: absolute;
     margin: auto;
     top: 0;
     left:0;
     right:0;
     bottom:20%;
     height:100px;
    //  color: $white;
   }
}



// HOMEPAGE STUFF
  .homepage_content {
    overflow: auto;

    margin-bottom: inherit;
    h2 {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    h3 {
      font-size: 2.5em;
      font-weight: 400;
      margin-bottom: .5em;
    }
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $highlight;
      }
    }
    .date {
      font-size: .8em;
      margin-bottom: 2em;
      color: $light;
    }
    p {
      margin: 0 0 .75em 0;
    }
    .brightness {
      background-color: $white;
      display: inline-block;
      &:hover {
        opacity: .5;
      }
    }
  }

  .about {
    padding: 0 7.5% 0 0;
    a {
      color: $highlight;
      font-weight: 700;
      text-decoration: none;
    }
  }
