MONIKA PIECHATZEK
Cell:250-908-7858 | Piechatzek@hotmail.com | Github: m-piechatzek | LinkedIn: monikapiechatzek
TECHNICAL SKILLS
Back-end: Ruby on Rails, PHP and Laravel, Java
Databases: PostgreSQL, mySQL, ActiveRecord
Front-end: HTML5, CSS3, Javascript, jQuery, AJAX, Bootstrap 3, Icons (Font Awesome),
Adobe Photoshop, UX/UI
Deployment & Dev Tools: GitHub, Atom, Sublime, Mac command line
WORK EXPERIENCE

CodeCore Web Developer Bootcamp, Vancouver, BC October – December 2015
Ruby on Rails Programming Certificate
Completed full-time 60-hour/week code school for Ruby on Rails full-stack web development.
➢ Off with a Warning: is a alert system I designed to help people avoid parking tickets. I built
this alone to present on demo day. Features include:
- Used Google Maps API to locate user and store user data making AJAX calls to send &
| receive JSON to/from the PostgreSQL database
- Javascript/jQuery was used to retrieve/output and manipulate the user data as well as
| some animation
- HTML5/CSS and Bootstrap were used for the design and layout of the app
➢ DRILLR: is a group project designed for people to practice basic coding skills for different
languages. My part included:
- Working with Devise to set-up user authentication through email and using Mailer to test
| in the development stage
- Main page layout was made up within Photoshop first and then transferred into
| HTML5/CSS using Bootstrap
- UX/UI making sure user flows through the site logically and redirected pages when the site
<div class="square">
  | did not flow correctly using Ruby on Rails

</div>
