
<!-- <div id="resume_header" class="">
  <header>
  </header>
</div> -->

<div class="banners">
  <header>
    <!-- <h3>Resume</h3> -->
    <h1>MONIKA PIECHATZEK</h1>
    <hr>
      <h4>Junior Software Developer</h4>
        <span><a href="mailto:piechatzek@hotmail.com?subject=feedback"><i class="fa fa-envelope fa-3x"></i></a> <a href="https://github.com/m-piechatzek" target="_blank"><i class="fa fa-github fa-3x"></i></a> <a href="https://www.linkedin.com/in/monikapiechatzek" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
</span>
 <!-- piechatzek@hotmail.com m-piechatzek  monikapiechatzek-->
  </header>
</div>

<div class="content_wrapper">
  <div class="content">
    <h5>TECHNICAL SKILLS</h5>
      <div class="tech_skills">

        <p>
          Back-end: <strong>Ruby on Rails, Django</strong> <br>
        </p>
        <p>
          Databases:<strong> PostgreSQL, Oracle</strong>

        </p>
        <p>
          Front-end:<strong> HTML5, CSS3, Javascript, jQuery, Bootstrap 3</strong>

        </p>
        <p>

          Deployment & Dev Tools:<strong> GitHub, Atom, Sublime, Mac command line, Heroku, Android Studio</strong>
        </p>
      </div>
<h5>EXPERIENCE</h5>
<div class="work_exp">
<p>
  Junior Software Developer
</p>
<p>Open Gaming Solutions Inc., Kamloops, BC <br> January 2017 – Present </p>

<p>
<strong> Python, Django, AngularJS, JSON, GitHub, JIRA, Confluence, PostgreSQL, Vagrant, Agile Development </strong>
</p>
<ul>
 <li>Learned and followed Open Gaming Solutions Software Development Life Cycle
   (SDLC) starting from being assigned a JIRA ticket to analyze and conclude what
    solutions need to take place. Implementing own solutions and using GitHub for
     version control and code reviews before sending code changes off to
     Quality Assurance for testing. </li>
  <li>With no prior knowledge of Django or Python, contributed
    code and solved minor bug fixes after two months of employment.
    Also peer programmed on various front-end AngularJS issues
    and create test cases when applicable. </li>
 <li>Documentation as well as going through the
   process of architecting the code. Using various flow charts
   and presenting them to project managers and other developers.
Using own virtual environment and querying in Postgres to confirm
if code changes save proper data during own quality assurance testing. </li>
</ul>

  <p>
    CodeCore Web Developer Bootcamp, Vancouver, BC <br> October 2015 – December 2015
  </p>
  <p>

<strong>  Ruby on Rails, Google Maps API, AJAX, JSON, PostgreSQL, Javascript, jQuery, HTML5/CSS, Bootstrap </strong>

  </p>
  <p>

    Completed full-time 60-hour/week code school for Ruby on Rails full-stack web development.
  </p>
  <ul>
    <li>
      Ticket Stopper:
      <ul>
        <li>An alert system designed to help people avoid parking tickets.
          The project was built </br> and presented on CodeCore’s demo day, which potential future employers attended.
        </li>
        <li> Google Maps API to locate user and store user data by
          making AJAX calls to send and </br> receive JSON code to/from the PostgreSQL database.
        </li>
          <li>Javascript/jQuery used to retrieve/output and manipulate user data and some animation.
          </li>
          <li> HTML5/CSS and Bootstrap used for the design and layout of the app.</li>
      </ul>
    </li>

  </ul>

</div>



</div>

</div>
