
<!-- <div id="resume_header" class="">
  <header>
  </header>
</div> -->

<div class="banners">
  <header>
    <!-- <h3>Resume</h3> -->
    <h1>MONIKA PIECHATZEK</h1>
    <hr>
      <h4>Junior Full-Stack Web Developer</h4>
        <span><a href="mailto:piechatzek@hotmail.com?subject=feedback"><i class="fa fa-envelope fa-3x"></i></a> <a href="https://github.com/m-piechatzek" target="_blank"><i class="fa fa-github fa-3x"></i></a> <a href="https://www.linkedin.com/in/monikapiechatzek" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
</span>
 <!-- piechatzek@hotmail.com m-piechatzek  monikapiechatzek-->
  </header>
</div>

<div class="content_wrapper">
  <div class="content">
    <h5>TECHNICAL SKILLS</h5>
      <div class="tech_skills">

        <p>
          Back-end: <strong>Ruby on Rails, Javascript, JSON, AJAX</strong> <br>
          Limited Back-end: <strong>PHP and Laravel, Java</strong>
        </p>
        <p>
          Databases:<strong> PostgreSQL, mySQL, ActiveRecord</strong>

        </p>
        <p>
          Front-end:<strong> HTML5, CSS3, Javascript, jQuery, AJAX, Bootstrap 3, Icons (Font Awesome),
          Adobe Photoshop, UX/UI</strong>

        </p>
        <p>

          Deployment & Dev Tools:<strong> GitHub, Atom, Sublime, Mac command line</strong>
        </p>
      </div>
<h5> WORK EXPERIENCE</h5>
<div class="work_exp">

  <p>
    CodeCore Web Developer Bootcamp, Vancouver, BC <br> October 2015 – December 2015
  </p>
  <p>

    Ruby on Rails Programming Certificate
  </p>
  <p>

    Completed full-time 60-hour/week code school for Ruby on Rails full-stack web development.
  </p>
  <ul>
    <li>
      Ticket Stopper: is a alert system I designed to help people avoid parking tickets. I built
      this alone to present on demo day. Features include:
      <ul>
        <li>  Used <strong>Google Maps API</strong> to locate user and store user data making <strong>AJAX </strong> calls to send &
          receive <strong>JSON</strong> to/from the <strong>PostgreSQL</strong> database</li>
          <li><strong>Javascript/jQuery</strong> was used to retrieve/output and manipulate the user data as well as
          some animation</li>
          <li> <strong>HTML5/CSS</strong> and <strong>Bootstrap</strong> were used for the design and layout of the app</li>
      </ul>
    </li>

    <li>  DRILLR: is a group project designed for people to practice basic coding skills for different
      languages. My part included:
      <ul>
        <li> Working with <strong>Devise</strong> to set-up user authentication through email and using <strong>Mailer</strong> to test
        in the development stage</li>
        <li>Main page layout was made up within <strong>Photoshop</strong> first and then transferred into
        <strong>HTML5/CSS</strong> using <strong>Bootstrap</strong></li>
        <li><strong>UX/UI</strong> making sure user flows through the site logically and redirected pages when the site
        did not flow correctly using <strong>Ruby on Rails</strong></li>
      </ul>
      </li>
  </ul>

</div>



</div>

</div>
