
  <header id="main_navigation" class="clearfix u">
    <%= link_to "Monika Piechatzek", root_path, class: "name", method: :get  %>
        <nav>
          <%= link_to "portfolio", posts_path %>
          <a href="ux-ui.html">ux/ui</a>
          <a href="#">resume</a>
          <a href="contact.html">contact</a>
        </nav>
    </header>
